.jumbotron {
    padding: 50px 10px 50px 50px; 
    background-color:yellow;
    opacity: 50%;
    color:black;
    
}
footer{
    padding: 10px 10px 50px 10px; 
    background-color: yellow;
    margin-top: 20px;
    
}
.card-productos{
    flex: 1 200px;
    padding: 0px 2px 2px 5px;
    margin: 5px 5px 5px 5px;
    margin-right: 2px;

}
.footer-icon-config {
    padding-right: 10px;
}

.btn-settings {
    width: 100%;
}

.row_config {
    margin-top: 20px;
}

