$green : #5c34c2;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom
}

@mixin background_color($color) {
    background-color:$color
}


.jumbotron {
    padding: 50px 10px 50px 50px; 
    @include background_color($green);    
    opacity: 50%;
    color:black;
    
}
footer{
    padding: 10px 10px 50px 10px; 
    @include background_color($green);
    @include margenes(20px, 0px);
        
}
.card-productos{
    flex: 1 200px;
    padding: 0px 2px 2px 5px;
    margin: 5px 5px 5px 5px;
    margin-right: 2px;

}
.footer-icon-config {
    padding-right: 10px;
}

.btn-settings {
    width: 100%;
}

.row_config {
    @include margenes(20px, 0px);
}

